.card-header.p-0.m-0.d-flex.justify-content-end
    a(href="#").alight-right
        i.fas.fa-times-circle.p-1.text-light 
.card-body.d-flex.justify-content-center.align-items-center
    a.btn.btn-link.text-light.text-underline-none(href=`board/${id}` target="_self") #{name}