.card-header.d-flex.justify-content-between
    input.k-lane-text-input.p-0.m-0.w-75.form-control-plaintext(type="text" value=`${title}`)
    button.k-lane-remove-btn.btn.btn-sm.p-0.m-0.text-danger
        i.fas.fa-trash-alt
.card-body
.card-footer
    button.btn.btn-light(data-bs-toggle="modal" data-bs-target="#addCardModal")
        i.fas.fa-plus
        span.m-1.text-secondary Add card