#addCardModal.modal.fade(tabindex="-1" aria-labelledby="addCardModalLabel" aria-hidden="true")
    .modal-dialog 
        .modal-content 
            .modal-header Add a card 
            .modal-body.d-flex.flex-column
                input#inputCardTitle.form-control.mb-2(type="text" placeholder="Title")
                textarea#textAreaCardDescription.form-control.mb-2(rows="3"  placeholder="Describe the card...")
                select.form-select.mb-2
                    option(selected) Assignees
                    option(value="sajalshres") sajalshres
                select.form-select.mb-2
                    option(selected) Priority
                    option(value="H") High
                    option(value="M") Medium 
                    option(value="L") Low
                select.form-select.mb-2
                    option(selected) Labels
                    option(value="review") review
                    option(value="learn") learn 
                    option(value="expense") expense
            .modal-footer 
                button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
                button.btn.btn-primary(type="button" data-bs-dismiss="modal") Save

.k-lanes-list.d-flex.flex-wrap.justify-content-start.mt-2
